$main: #FFFFFF;
$sub: #D6D6D6;
$black: #000000;
$dgray: #333333;
$blue: #27BFC6;

$noto: 'Noto San Serif JP';
$smincho: 'Shippori Mincho';
$medium: 'futura-pt';
$bold:  'futura-pt-bold';
$exbold: 'futura-pt-condensed';

