@use "reset";
@use "variables"as *;
@use "common";
@use "header";
@use "sidenav";
@use "modules";

// Top page
.home-wrap {
    padding: 40px 0 0 40px;
    display: flex;
    background-color: $black;
}

.page-wrap {
    padding-left: 40px;
    display: flex;
    background-color: $main;

}

.page-container {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}

.main {
    background-color: $main;
    height: calc(100vh - 96px);
    width: calc(100vw - 152px);
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-nav {
        font-family: $bold;
        font-size: 40px;
        margin-left: 48px;
        margin-top: 56px;
        letter-spacing: 1.5px;

        &__link {
            padding-bottom: 8px;
        }
    }

    &-title {
        padding-left: 72px;
        margin-bottom: 96px;

        &__font {
            font-family: $bold;
            font-size: 114px;
            line-height: 0.8;
            letter-spacing: -5px;
        }
    }
    
}

// Work
.work {
    &-container {
        width: 400px;
        height: 340px;
        // margin: calc(100vh - 49%) auto;
        margin: calc(100vh - 51%) calc(100vw - 83%);
        position: relative;
        display: flex;
        align-items: center;

    }

    &-links {
        top: -64px;
        left: -180px;
        position: absolute;
        font-family: $exbold;
        font-size: 24px;
        letter-spacing: 1px;
    }

    &-detail {
        position: absolute;
        bottom: -23px;
        left: calc(100% + 80px);
        width: 250px;
        height: 97px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__title {
            h5 {
                color: $dgray;
                font-family: $medium;
            }
        }

        &__desc {
            color: $dgray;
            font-family: $noto;
        }

        &__text {
            font-family: $medium;
            color: $dgray;
        }
    }

    &-filter {
        position: relative;
        width: 100%;
        display: block;
        height: 100%;
    }

    &-image-wrap {
        height: 100%;
        overflow: hidden;
        top: calc(50% - 100px);
        left: calc(50% - 125px);
        display: flex;
        align-items: center;
        
        img {
           width: 100%;
           position: absolute;
           box-shadow: 24px 24px 1px $sub;
        }
    }

}

// Skills
.skill {
    
    &-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 80px auto 0;
        color: $dgray;
    
        p {
            font-family: $noto;
            font-size: 12px;
            line-height: 1.5;
        }

        li {
            font-family: $medium;
            font-size: 14px;
            letter-spacing: 1px;
            margin-bottom: 8px;
        }
    }

    &-headline {
        font-family: $bold;
        letter-spacing: 1px;
        margin-bottom: 48px;
    }

    &-title {
        margin-bottom: 24px;
        font-family: $bold;
        letter-spacing: 1px;
    }

    &-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;;
        
        margin-left: 80px;
        height: 521px;
        width: 614px;

        &__up {
            height: 200px;
            // background-color: yellow;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .left-up {
            display: flex;
            .up-left {
                width: 272px;
                margin-right: 80px;
            }
            .up-right {
                width: 272px;

                &__icon {
                    margin-right: 8px;
                }

                &__desc {
                    font-family: $medium;
                    margin-bottom: 16px;
                    font-size: 14px;
                }
                
                &__tag {
                    font-family: $noto;
                    font-size: 12px;
                }
            }
        }

        &__down {
            height: 312px;
            // background-color: green;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .left-down {
            display: flex;
            flex-direction: row;

            .down-left {
                // height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                width: 272px;
                margin-right: 80px;

                &__up {
                    margin-bottom: 24px;
                }

                &__title {
                    margin-bottom: 24px;
                }

            }

            .down-right {
                width: 272px;
            }
        }
    }
    
    
    &-right {
        padding-top: 196px;
        margin-left: 112px;
        height: 521px;
        width: 264px;

        .right-wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;
            
            &__first {
                font-family: $bold;
            }
        }

        // skill graph
        .bar-wrap {

            &__box {
                position: relative;
                background-color: $sub;
                height: 8px;
                width: 144px;
            }

            &__desc {
                position: absolute;
                top: -24px;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            &__rate {
                position: absolute;
                height: 100%;
                // width: 80%;
                background-color: $blue;
            }
        }
    }
}

// pages
.section {
    &-feature {
        background-color: $main;
        height: 2200px;
        width: calc((100vw - 80px) / 2);
        position: absolute;
        z-index: 1;

        .feature {
            &-gallery {
                // background-color: #fff;
                width: 512px;
                margin-left: 72px;
                margin-top: 176px;

                .img {
                    width: 100%;
                    margin-bottom: 72px;
                    box-shadow: 3px 3px 3px 3px #d6d6d6;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }

    &-fix {
        position: fixed;
        top: 0;
        padding-left: 72px;

        .desc {
            &-wrap {
                position: absolute;
                left: calc((100vw * 0.5) + 40px);
                margin-top: 80px;

                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;

                height: 522px;
            }
            
            &-container {
                height: 342px;
                width: 374px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &-content {
                &__title {
                    font-family: $exbold;
                    letter-spacing: 1px;
                }

                &__textarea {
                    margin-top: 32px;
                    font-family: $noto;
                    font-size: 12px;
                    letter-spacing: 0.5px;
                    line-height: 1.7;
                }
            }

            &-techarea {
                &__techtitile {
                    font-family: $medium;
                }

                &__text p {
                    margin-top: 16px;
                    font-family: $noto;
                    font-size: 12px;
                    color: $dgray;
                }
            }

            &-icon {
                li {
                    color: $dgray;
                    margin-right: 8px;
                }
            }
        }
    }
}